a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.WeatherInfo .container {
  text-transform: capitalize;
  position: relative;
  top: 30px;
}

.WeatherInfo canvas {
  position: relative;
  left: 170px;
  bottom: 100px;
}

.WeatherInfo #city-name {
  text-transform: capitalize;
  position: relative;
  bottom: -5px;
  font-size: 30px;
}

.WeatherInfo #date-time {
  font-size: 20px;
}

.WeatherInfo #weather-desc {
  font-size: 20px;
  position: relative;
  bottom: 80px;
  left: 453px;
  margin: 0 auto;
}
