.WeatherMain {
  position: relative;
  left: 10px;
  bottom: -1px;
}

.WeatherMain #city-input {
  position: relative;
  top: -1px;
  height: 38px;
}

.WeatherMain .search-btn {
  position: relative;
  top: -2px;
  left: 10px;
}
